@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/*=-=-=-=-=-=-BASIC SETTINGS-=-=-=-=-=-=*/

body {
    font-family: 'Raleway', sans-serif;
    margin: unset;
    padding: unset;
    display: flex;
    flex-direction: column;
}

img {
    width: 350px;
}

.images {
    text-align: center;
}

table {
    margin: 10px auto;
}

.table-title {
    background-color: #FAF0CE;
}

/*=-=-=-=-=-=-HEADER-=-=-=-=-=-=*/

header {
    display: flex;
    justify-content: center;
    background-color: #FAF0CE;
}

#logo, #quote {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

#logo {
    background-color: white;
    border-radius: 5px;
    padding: 10px 30px;
}

#logo a{
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    color: #D4AF31;
    font-size: 45px;
}

#logo a:hover{
    transition: all 0.3s ease;
    color: black;
}

#quote {
    color: rgb(188, 170, 136);
    text-transform: uppercase;
    font-size: 30px;
}

/*=-=-=-=-=-=-MAIN-=-=-=-=-=-=*/

main {
    color: rgb(188, 170, 136);
    margin: 20px 20%;
}

main #title {
    text-transform: capitalize;
    margin-top: unset;
    font-size: xx-large;
    text-align: center;
    color: #D4AF31;
}

main article h3 {
    font-size: x-large;
}

main p, td {
    color: black;
}

main table, td {
    border: 1px solid black;
    padding: 5px;
}

/*=-=-=-=-=-=-FOOTER-=-=-=-=-=-=*/

footer {
    background-color: #cec5aa;
    padding: 15px;
}

footer p {
    text-align: center;
}

footer a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: #FAF0CE;
}
