@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/*=-=-=-=-=-=-BASIC SETTINGS-=-=-=-=-=-=*/

body.class-for-index {
    font-family: 'Raleway', sans-serif;
    margin: unset;
    padding: unset;
    display: flex;
    flex-direction: column;
}

.class-for-index img {
    width: 350px;
}

.class-for-index .images {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.class-for-index .image-text {
    text-align: center;
}

.class-for-index table {
    margin: 10px auto;
}

.class-for-index .table-title {
    background-color: #FAF0CE;
}

/*=-=-=-=-=-=-HEADER-=-=-=-=-=-=*/

.class-for-index header {
    display: flex;
    justify-content: center;
    background-color: #FAF0CE;
}

.class-for-index #logo, #quote {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

.class-for-index #logo {
    background-color: white;
    border-radius: 5px;
    padding: 10px 30px;
}

.class-for-index #logo a{
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    color: #D4AF31;
    font-size: 45px;
}

.class-for-index #logo a:hover{
    transition: all 0.3s ease;
    color: black;
}

.class-for-index #quote {
    color: rgb(188, 170, 136);
    text-transform: uppercase;
    font-size: 30px;
}

/*=-=-=-=-=-=-MAIN-=-=-=-=-=-=*/

.class-for-index main {
    color: rgb(188, 170, 136);
    margin: 20px 20%;
}

.class-for-index main #title {
    text-transform: capitalize;
    margin-top: unset;
    font-size: xx-large;
    text-align: center;
    color: #D4AF31;
}

.class-for-index main article h3 {
    font-size: x-large;
}

.class-for-index main p, td {
    color: black;
}

.class-for-index main table, td {
    border: 1px solid black;
    padding: 5px;
}

/*=-=-=-=-=-=-FOOTER-=-=-=-=-=-=*/

.class-for-index footer {
    background-color: #cec5aa;
    padding: 15px;
}

.class-for-index footer p {
    text-align: center;
}

.class-for-index footer a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.class-for-index footer a:hover {
    color: #FAF0CE;
}
