/*=-=-=-=-=-=-BASIC SETTINGS-=-=-=-=-=-=*/

body {
    font-family: 'Raleway', sans-serif;
    margin: unset;
    padding: unset;
    display: flex;
    flex-direction: column;
}

img {
    width: 350px;
}

.images {
    text-align: center;
}

table {
    margin: 10px auto;
}

.table-title {
    background-color: #FAF0CE;
}
